* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
}

.navbar li {
  display: inline;
  padding: 0 15px;
}

/*delete underlined from navbar*/
.navbar a {
  text-decoration: none;
  color: black;
}
/*every anchor tag with a class of navbar-blue should have the color of blue  */
.navbar-blue a {
  color: blue;
}

/*---------------------------------section banner-------------------------------*/
.banner {
  background-color: #4d00ff;
  color: white;
  margin: 75px 0 20px 0;
  text-align: center;
  padding: 50px 0;
}
#medium-gritty {
  height: 400px;
  width: 400px;
}

/*------------------gritter-section---------------------*/
.gritter-section {
  padding: 10px 50px;
}
#gritter {
  color: #4d00ff;
  font-size: 100px;
}
.avatar {
  background-image: url("../images/better_than_drake.png");
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

/*a class by definition should be reusable */
.bold {
  font-weight: 900;
}

#greets ul {
  list-style-type: none;
}
