* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #4d00ff;
  color: white;
  margin: 75px 0;
  text-align: center;
  padding: 50px 0;
}
#medium-gritty {
  height: 400px;
  width: 400px;
}

#gritter {
  color: #4d00ff;
  font-size: 100px;
}
/*a class by definition should be reusable */
.bold {
  font-weight: 900;
}
